/* .App {
  text-align: center;
  align-content: center;
} */

html{
  scroll-behavior: smooth;
}

#beinggeeky{
  padding: 10% 10%;
  text-align: center;
  align-content: center;
  /* display: flexbox;
  align-items: center;
  justify-content: center; */
}
#tutorial{
  background-color: #476F70;
  padding: 5% 10%;
  color:white;
  text-align: center;
  align-content: center;
}
.bigpara{
  font-size: 1.3em;
}
.btn{
  padding:10px;
}
#video{
  padding: 5% 10%;
  text-align: center;
  align-content: center;
}
#lectures{
  padding: 10% 10%;
  background-color: #476F70;
  color:white;
  text-align: center;
  align-content: center;
}
#coupons{
  padding: 5% 10%;
}

.footer{
  color: white;
  padding: 5%;
  text-align: left;
  align-content: center;
  justify-content:space-evenly;
}
hr{
  height: 10px;
  background-color: black;
  opacity: 0.2;
}
